<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>
<body>

<!-- Main Container -->
<div id="container">
</div>

<!-- Child View Container for Composite View -->
<tbody></tobdy>

<!-- Cat Layout View Template -->
<script id="table-template" type="text/html">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Color</th>
				<th>Age</th>
			</tr>
		</thead>
	</table>
</script>


<!-- Cat Item View Template -->
<script id="row-template" type="text/html">
	<td><%= name %></td>
	<td><%= color %></td>
	<td><%= age %></td>
</script>

<!-- Use Browserify Bundled JS -->
<script src="static/bundle.js"></script>

</body>
</html>